.top-bar-container {
	background-color: white;
	height: 18%;
}

.top-left-logo {
	display: inline-block;
	width: auto;
	height: 100%;
}

.top-right-label {
	display: inline-block;
	width: 60%;
	margin-top: 5%;
	padding: 2px;
	vertical-align: top;
}

.top-right-search-bar {
	display: inline-block;
	border: 0px;
}

.start-logo {
	width: 100%;
}

.search-results-container {
	margin-left: auto;
	margin-right: auto;
}

.search-results-tabs-container {
	overflow: hidden;
}

.search-results-selected-tab {
	background-color: #e5e5e5;
}

.search-results-unselected-tab {
	background-color: #a0a0a0;
}

.search-results-recipe-tab {
	float: left;
	display: inline-block;
	width: 50%;
	text-align: center;
}

.search-results-filter-tab {
	float: right;
	display: inline-block;
	width: 50%;
	text-align: center;
}

.search-results-tab-title {
	margin: auto;
	padding: 5px;
}

.search-results-recipes-container {
	/* background-color: #8d782a; */
	/* background-color: #d0b862; */
	display: block;
	background-color: #e5e5e5;
	min-height: 82%;
	margin-left: auto;
	margin-right: auto;	
	align-content: center;
}

.search-results-menu-title-container {
	margin-top: 100px;
	background-color: blue;
	width: 98%;
}

.search-results-menu-title {
	margin-left: auto;
	margin-right: auto;
	height: 9%;
	padding: 0px;
}

.search-results-recipes-box {
	margin-left: auto;
	margin-right: auto;
	overflow-y: auto;
	padding-top: 3%;
}

.search-results-recipe {
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
}

.seach-results-recipe-thumbnail {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	border: 2px solid white;
	box-shadow: 3px 0px 5px -1px rgb(150,150,150), -3px 0px 5px -1px rgb(150,150,150), 0px 3px 5px rgb(150,150,150);
	height: auto;	
}

.search-results-recipe-title-container {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	padding: 10px;
	box-shadow: 3px 0px 5px -1px rgb(150,150,150), -3px 0px 5px -1px rgb(150,150,150), 0px 3px 5px rgb(150,150,150);
	width:98%;
}

.search-results-recipe-title {
	margin-left: 20px;
	max-width: 95%;
	max-height: 20px;
	font-size: 14px;
	overflow: hidden;
}



.show-recipe-main-container {
	background-color: #f2f2f2;
}

.show-recipe-container {	
	background-color: #d0b862;
	padding-top: 5px;
	padding-bottom: 30px;
}

.show-recipe-title {
 	text-align: center;
}

.show-recipe-image {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 70%;
}

.show-recipe-info-container {
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	display: block;
	width: 70%;
}

.show-recipe-info-left {
	float: left;
	background-color: white;
	display: inline-block;
	width: 49%;	
}

.show-recipe-info-right {
	float: right;
	background-color: white;
	display: inline-block;
	width: 49%;	
}

.show-recipe-info-title {
	padding: 5%;
	text-align: center;
}

.show-recipe-info-value {
	text-align: center;
}

.show-recipe-section-container {
	background-color: white;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
	width:90%;
}

.show-recipe-section-title {
	background-color: #f2f2f2;
	text-align: center;
}

.show-recipe-sub-section-container {
	padding-bottom: 5px;
}

.show-recipe-sub-section-title {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.show-recipe-sub-section-title {
	background-color: #f2f2f2;
	text-align: center;
}

.show-recipe-ingredients-list {
	margin-left: 10%;
}

.show-recipe-list-item {
	padding-left: 10px;
	list-style-position: inside;
	list-style-type: disc;
}
