.top-bar-container {
	background-color: white;
	height: 18%;
}

.top-left-logo {
	display: inline-block;
	width: auto;
	height: 100%;
}

.top-right-label {
	display: inline-block;
	width: 60%;
	margin-top: 5%;
	padding: 2px;
	vertical-align: top;
}

.top-right-search-bar {
	display: inline-block;
	border: 0px;
}

.start-logo {
	width: 100%;
}

.search-results-container {
	margin-left: auto;
	margin-right: auto;
}

.search-results-recipes-container {
	/* background-color: #8d782a; */
	background-color: #d0b862;
	min-height: 82%;
	margin-left: auto;
	margin-right: auto;
	align-content: center;
}

.search-results-menu-title {
	height: 9%;
	padding: 0px;
	margin: 0px;
}

.search-results-recipes-box {
	margin-left: auto;
	margin-right: auto;
	overflow-y: auto;
	padding-top: 3%;
}

.search-results-recipe {
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
}

.seach-results-recipe-thumbnail {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	width: 70%;
	height: auto;	
}

.search-results-recipe-title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 95%;
	max-height: 20px;
	overflow: hidden;
}

.show-recipe-main-container {
	background-color: #f2f2f2;
}

.show-recipe-container {	
	background-color: #d0b862;
	padding-top: 5px;
	padding-bottom: 30px;
}

.show-recipe-title {
 	text-align: center;
}

.show-recipe-image {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 70%;
}

.show-recipe-info-container {
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	display: block;
	width: 70%;
}

.show-recipe-info-left {
	float: left;
	background-color: white;
	display: inline-block;
	width: 49%;	
}

.show-recipe-info-right {
	float: right;
	background-color: white;
	display: inline-block;
	width: 49%;	
}

.show-recipe-info-title {
	padding: 5%;
	text-align: center;
}

.show-recipe-info-value {
	text-align: center;
}

.show-recipe-section-container {
	background-color: white;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
	width:90%;
}

.show-recipe-section-title {
	background-color: #f2f2f2;
	text-align: center;
}

.show-recipe-sub-section-container {
	padding-bottom: 5px;
}

.show-recipe-sub-section-title {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.show-recipe-sub-section-title {
	background-color: #f2f2f2;
	text-align: center;
}

.show-recipe-ingredients-list {
	margin-left: 10%;
}

.show-recipe-list-item {
	padding-left: 10px;
	list-style-position: inside;
	list-style-type: disc;
}
