.view-header {
	color: black !important;
	background-color: white !important;
	border-bottom: 1px solid #e5e5e5 !important;
}

.view-title {
	color: black !important;
	background-color: white !important;
}

.view-top-button {	
	color: black !important;
}

.start-logo {
	width: 100%;
}

.start-textbox {
	margin-left: auto !important;
	margin-right: auto !important;
	width: 80% !important;
}

.start-mic-button {
	display: block;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	max-width: 20%;
}

.start-search-button {
	margin-left: auto;
	margin-right: auto;
	background-color: #b58853 !important;
	width: 90% !important;
}

.search-results-container {
	margin-left: auto;
	margin-right: auto;
}

.search-results-container {
	margin-left: auto;
	margin-right: auto;
}

.search-results-tabs-container {
	margin-bottom: 5%;
	overflow: hidden;
}

.search-results-selected-tab {
	background-color: white;
	border-bottom: 5px solid #7ec9df;
	color: black;
}

.search-results-unselected-tab {
	background-color: white;
	color: #c0c0c0;
}

.search-results-tab-title {
	margin: auto;
	padding: 10px;
	font-size: 20px;
	color: inherit;
}

.search-results-recipe-tab {
	float: left;
	display: inline-block;
	width: 50%;
	text-align: center;
}

.search-results-filter-tab {
	float: right;
	display: inline-block;
	width: 50%;
	text-align: center;
}

.search-results-recipes-container {
	background-color: white;
}

.search-results-recipe {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
	text-align: center;
	width: 100%;
}

.search-results-recipe-thumbnail {
	width: 80%;
}

.search-results-recipe-title {
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: 24px;
}

.search-results-filters-container {
	background-color: white;
	padding-bottom: 30px;
}

.search-results-filter {
	margin-bottom: 7%;
}

.search-results-filter-title {
	text-align: center;
}

.search-results-filter-button {
	margin-left: auto;
	margin-right: auto;
	width: 90% !important;
	background-color: #b58853 !important;
}

.show-recipe-main-container {
	background-color: white;
}

.show-recipe-container {	
	background-color: white;
	padding-top: 5%;
	padding-bottom: 30px;
}

.show-recipe-image {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 70%;
}

.show-recipe-info-container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
    table-layout: fixed;
	height: 10%;
	border 2px solid red;
}			

.show-recipe-title {
	padding-left: 5%;
	font-size: 24px;
	text-align: center;
 	vertical-align: middle;
 	width: 70%;
}

.show-recipe-time-circle-container {
	display: inline;
	position: relative;
}

.show-recipe-time-circle {
	width: 50%;
}

.show-recipe-time-value {	
	color: white;
	font-size: 24px;
    position: absolute;
    left: 23%;
    bottom: 90%;
}
	
.show-recipe-time-unit {	
	color: white;
    position: absolute;
    left: 25%;
    bottom: -10%;
}

.show-recipe-info-title {
	padding: 5%;
	text-align: center;
	vertical-align: middle;
}

.show-recipe-info-value {
	text-align: center;
}

.show-recipe-tabs-container {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	overflow: hidden;
}

.show-recipe-selected-tab {
	background-color: white;
	border-bottom: 5px solid #7ec9df;
	color: black;
}

.show-recipe-unselected-tab {
	background-color: white;
	color: #c0c0c0;
}

.show-recipe-tab-title {
	margin: auto;
	padding: 5px;
	font-size: 16px;
	color: inherit;
}

.show-recipe-ingredients-tab {
	float: left;
	display: inline-block;
	width: 50%;
	text-align: center;
}

.show-recipe-directions-tab {
	float: right;
	display: inline-block;
	width: 50%;
	text-align: center;
}

.show-recipe-section-container {
	background-color: white;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
	width:90%;
}

.show-recipe-section-title {
	background-color: #f2f2f2;
	text-align: center;
}

.show-recipe-sub-section-container {
	padding-bottom: 5px;
}

.show-recipe-sub-section-title {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.show-recipe-sub-section-title {
	background-color: #f2f2f2;
	text-align: center;
}

.show-recipe-ingredients-list {
	margin-left: 10%;
}

.show-recipe-list-item {
	padding-left: 10px;
	list-style-position: inside;
	color: #909090;
}

.show-recipe-list-item:nth-child(even) {
	background-color: white;
}

.show-recipe-list-item:nth-child(odd) {
	background-color: #f9f9f9;
}
